---
import { data } from "../../data/data";
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Card - Games">
  <div class="card-container">
    {
      data.map((item) => {
        if (item.genre === "Card Game")
          return (
            <Card
              src={item.thumbnail}
              title={item.title}
              body={item.short_description}
              href={item.game_url}
            />
          );
      })
    }
  </div>
</Layout>
<style>
  .card-container {
    margin: auto;
    padding: 1.5rem;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
  }
</style>
