---
import Card from "../components/Card.astro";
import { data } from "../data/data";
import Layout from "../layouts/Layout.astro";

const filteredData = data.filter((item) => item.genre === "MMOARPG");
---

<Layout title="Free Games">
  <main>
    <h1>All the <span class="text-gradient">Free Games</span></h1>

    <div class="card-container">
      {
        data.map(({ thumbnail, title, short_description, game_url }) => (
          <Card
            src={thumbnail}
            title={title}
            body={short_description}
            href={game_url}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style>
  a {
    text-decoration: none;
    color: antiquewhite;
  }
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100%;
  }
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .card-container {
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
  }
</style>
<script></script>
