<div class="hamburger" id="hamburguer">
  <img
    src="/menu_icon.svg"
    alt="Menu Icon"
    width="35px"
    height="35px"
    class="line1"
    id="line1"
  />

  <img
    src="./close_icon.svg"
    alt="Close Icon"
    width="35px"
    height="35px"
    class="line2"
    id="line2"
  />
</div>

<style>
  .hamburger {
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    margin-left: 90%;
    margin-top: 2%;
    cursor: pointer;
    z-index: 999;
  }
  .line1 {
    color: antiquewhite;
    filter: invert(100);
  }
  .activeline1 {
    display: none;
  }
  .line2 {
    display: none;
    filter: invert(100);
  }
  .activeline2 {
    display: block;
    color: antiquewhite;
  }

  .activeline3 {
    transform: rotate(-45deg);
  }
  @media (min-width: 768px) {
    .hamburger {
      display: none;
    }
  }
</style>
